.jumbotron{
    text-align: center;
    font-weight: bold;
    background: slategrey;
    color: white;
}
.gif-image{
    max-width: 400px;
    max-height: 400px;
}
body{
    background-color: lightblue;
}
